[DEFAULT]
debug = false

[ml2]
type_drivers = flat,vlan,vxlan
tenant_network_types = vxlan
mechanism_drivers = openvswitch,l2population
extension_drivers = port_security
path_mtu = 0

[ml2_type_flat]
flat_networks = external

[ml2_type_vlan]
network_vlan_ranges = vlan:1000:1999,external

[ml2_type_vxlan]
vni_ranges =20000:30000
vxlan_group = 224.0.0.1

[securitygroup]
enable_ipset = true
