[DEFAULT]

core_plugin=ml2
service_plugins=router
allow_overlapping_ips=True

log_dir = /var/log/neutron
use_syslog = False
use_stderr = True

auth_strategy = keystone

api_workers=2
api_paste_config=/usr/share/neutron/api-paste.ini
allow_pagination=True
allow_sorting=True

transport_url = rabbit://openstack:{{ rabbitmq_password }}@{{ rabbitmq_host }}

dhcp_agents_per_network=1

notify_nova_on_port_status_changes=True
notify_nova_on_port_data_changes=True

l3_ha=False
l2_population=False

[agent]
root_helper=sudo neutron-rootwrap /etc/neutron/rootwrap.conf

[database]
connection=mysql://neutron:{{ neutron_db_password }}@{{ database_host }}/neutron?charset=utf8

[keystone_authtoken]
auth_uri = http://{{ keystone_host }}:5000/
auth_url = http://{{ keystone_host }}:35357/
memcached_servers = {{ memcached_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = openstack
username = {{ neutron_os_username }}
password = {{ neutron_os_password }}

[nova]
auth_url=http://{{ keystone_host }}:35357
auth_plugin=password
project_domain_name=Default
user_domain_name=Default
project_name=openstack
region_name={{ region_name }}
username={{ nova_os_username }}
password={{ nova_os_password }}

[oslo_concurrency]
lock_path=$state_path/lock

[quotas]
quota_firewall_rule=-1
quota_network_gateway=5
quota_packet_filter=100
